.root {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 42px;
  width: 450px;
  border-radius: 10px;
  font-size: 15px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  opacity: 0.2;
  position: absolute;
  left: 0px;
  top: 0px;
}

.clearIcon {
  width: 24px;
  height: 24px;
  opacity: 0.3;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
